{% extends "base.html" %}

{% block authentication %}
<div class="container mt-4">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row mb-4">
            <div class="col-md-12 col-12">
                <h3>Reset Password</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-12">
                <span>{{form.password.label}}</span>
            </div>
            <div class="col-md-8 col-12">
                <span>{{form.password(class="form-control")}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-12">
                <span>{{form.password2.label}}</span>
            </div>
            <div class="col-md-8 col-12">
                <span>{{form.password2(class="form-control")}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-12">
                <span>{{form.submit(class="btn btn-primary")}}</span>
            </div>
        </div>
    </form>
</div>
{% endblock %}










