{% extends "base.html" %}
{% set active_page="user-profile" %}
{% block title %}
    Edit Profile
{% endblock %}
{% block user_body_content %}
    <div class="container mt-4 p-4 container-box">
        <div class="row">
            <div class="col-md-12 col-12 mb-4">
                <h4 class="heading">Update your profile</h4>
            </div>
        </div>
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-md-2 col-12">
                    {{form.name.label}}
                </div>
                <div class="col-md-10 col-12">
                    {{form.name(class="form-control")}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-12">
                    {{form.location.label}}
                </div>
                <div class="col-md-10 col-12">
                    {{form.location(class="form-control")}}
                </div>
            </div>
            {{form.submit(class="btn btn-info col-md-1 col-12")}}
            </div>
        </form>
    </div>
{% endblock %}


