<div class="heading">
    <b>NEDFi-CIRR</b>
</div>

<div class="outer-box odd">
    <h3 style="margin-left: 35px;">Commercial request</h3>
    <div class="inner-box">
        <span>Request by</span>
    </div>
    <div class="inner-box">
        <span>{{user.username}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="name_of_unit">Name of the Unit</label>
    </div>
    <div class="inner-box">
        <span id="name_of_unit">{{commercial_request.name_of_unit}}</span>
    </div>
</div>
<div class="outer-box odd">
    <div class="inner-box">
        <label for="pan_no">PAN No.</label>
    </div>
    <div class="inner-box">
        <span id="pan_no">{{commercial_request.pan_no}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="entity_type">Entity Type</label>
    </div>
    <div class="inner-box">
        <span id="entity_type">{{commercial_request.entity_type}}</span>
    </div>
</div>
<div class="outer-box odd">
    <div class="inner-box">
        <label for="class_of_activity">Class of Activity</label>
    </div>
    <div class="inner-box">
        <span id="class_of_activity">{{commercial_request.class_of_activity}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="date_of_reg">Date of Registration</label>
    </div>
    <div class="inner-box">
        <span id="date_of_reg">{{commercial_request.date_of_reg}}</span>
    </div>
</div>
<div class="outer-box odd">
    <div class="inner-box">
        <label for="address">Address</label>
    </div>
    <div class="inner-box">
        <span id="address">{{commercial_request.address}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="pin_code">Pin Code</label>
    </div>
    <div class="inner-box">
        <span id="pin_code">{{commercial_request.pin_code}}</span>
    </div>
</div>
<div class="outer-box odd">
    <div class="inner-box">
        <label for="state">State</label>
    </div>
    <div class="inner-box">
        <span id="state">{{commercial_request.state}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="city">City</label>
    </div>
    <div class="inner-box">
        <span id="city">{{commercial_request.city}}</span>
    </div>
</div>
<div class="outer-box odd">
    <div class="inner-box">
        <label for="enquiry_type">Enquiry Type</label>
    </div>
    <div class="inner-box">
        <span id="enquiry_type">{{commercial_request.enquiry_type}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="state">State</label>
    </div>
    <div class="inner-box">
        <span id="state">{{commercial_request.state}}</span>
    </div>
</div>
<div class="outer-box odd">
    <div class="inner-box">
        <label for="loan_amount">Loan Amount</label>
    </div>
    <div class="inner-box">
        <span id="loan_amount">{{commercial_request.loan_amount}}</span>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <label for="request-time">Request date</label>
    </div>
    <div class="inner-box">
        <span id="request-time">{{commercial_request.request_date.strftime('%d/%m/%Y')}}</span>
    </div>
</div>
