{% extends 'base.html' %}
{% set active_page="user-profile" %}
{% block title %}
Profile
{% endblock %}
{% block user_body_content %}
<div class="container mt-3">
   <div class="row">
      <div class="col-md-3 col-12">
      </div>
      <div class="col-md-6 col-12 container-box p-4">
         <h4 class="heading mb-4">Profile</h4>
         <div>
            <label for="name" class="label">Name</label>
            <span id="name">{% if user.name %}{{ user.name }}{% endif %}</span>
         </div>
         <div>
            <label for="username" class="label">Username</label>
            <span id="username">{% if user.username %}{{ user.username }}{% endif %}</span>
         </div>
         <div>
            <label for="email" class="label">Email</label>
            <span id="email">{% if user.username %}{{ user.email }}{% endif %}</span>
         </div>
         <div>
            <label for="role" class="label">Role</label>
            <span id="role">{% if user.role %}{{ user.role.name }}{% endif %}</span>
         </div>
         <div>
            <label for="loc" class="label">Location</label>
            <span id="loc">{% if user.location %}{{ user.location }}{% endif %}</span>
         </div>
         <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
               {% for message in messages %}
               <div class="feedback">
                  {{message}}
               </div>
               {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
         </div>
            {% if user== current_user %}
            <a class="btn btn-info col-md-2 col-12" href="{{ url_for('.edit_profile', username=current_user.username) }}">Edit</a>
            {% endif %}
      </div>
   </div>
</div>
{% endblock %}



